@import "../../App.scss";
@import "../../fonts.scss";

.elements {
    @include background_image;
}

.elements_body,
Table {
    padding: 1%;
}

.small_title {
    padding-right: 2%;
}

.search_player {
    @include center_order;
    white-space: nowrap;
}
