@mixin image {
    display: block;
    padding: 1%;
    background-color: white;
    border-radius: 25px;
  }

.title_img {
    @include image;
    margin: 0 auto 2% auto;
    width: 40%;
}

.loading_img {
    @include image;
    margin: 5% auto auto auto;
}

.back_img{
    opacity: 0.9;
}
