@import "~bootstrap/scss/bootstrap";

@mixin background_image {
  background-image: url("assets/img/ball-statistics-alpha.png");
  background-size: 100px 75px;
  min-height: 100vh;
}

@mixin center_order {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.App {
  @include background_image;
  padding: 2%;
}
