@font-face {
    font-family: "ATLFont";
    src: local("ATLFont"), url(./assets/fonts/NBAHawks.ttf) format("truetype");
}

@font-face {
    font-family: "BOSFont";
    src: local("BOSFont"), url(./assets/fonts/NBACeltics.ttf) format("truetype");
}

@font-face {
    font-family: "BKNFont";
    src: local("BKNFont"), url(./assets/fonts/NBANets.ttf) format("truetype");
}

@font-face {
    font-family: "CHAFont";
    src: local("CHAFont"), url(./assets/fonts/NBAHornets.ttf) format("truetype");
}

@font-face {
    font-family: "CHIFont";
    src: local("CHIFont"), url(./assets/fonts/NBABulls.ttf) format("truetype");
}

@font-face {
    font-family: "CLEFont";
    src: local("CLEFont"), url(./assets/fonts/NBACavaliers.ttf) format("truetype");
}

@font-face {
    font-family: "DALFont";
    src: local("DALFont"), url(./assets/fonts/NBAMavericks.ttf) format("truetype");
}

@font-face {
    font-family: "DENFont";
    src: local("DENFont"), url(./assets/fonts/NBANuggets.ttf) format("truetype");
}

@font-face {
    font-family: "DETFont";
    src: local("DETFont"), url(./assets/fonts/NBAPistons.ttf) format("truetype");
}

@font-face {
    font-family: "GSWFont";
    src: local("GSWFont"), url(./assets/fonts/NBAWarriors.ttf) format("truetype");
}

@font-face {
    font-family: "HOUFont";
    src: local("HOUFont"), url(./assets/fonts/NBARockets.ttf) format("truetype");
}

@font-face {
    font-family: "INDFont";
    src: local("INDFont"), url(./assets/fonts/NBAPacers.ttf) format("truetype");
}

@font-face {
    font-family: "LACFont";
    src: local("LACFont"), url(./assets/fonts/NBAClippers.ttf) format("truetype");
}

@font-face {
    font-family: "LALFont";
    src: local("LALFont"), url(./assets/fonts/NBALakers.ttf) format("truetype");
}

@font-face {
    font-family: "MEMFont";
    src: local("MEMFont"), url(./assets/fonts/NBAGrizzlies.ttf) format("truetype");
}

@font-face {
    font-family: "MIAFont";
    src: local("MIAFont"), url(./assets/fonts/NBAHeat.ttf) format("truetype");
}

@font-face {
    font-family: "MILFont";
    src: local("MILFont"), url(./assets/fonts/NBABucks.ttf) format("truetype");
}

@font-face {
    font-family: "MINFont";
    src: local("MINFont"), url(./assets/fonts/NBATimberwolves.ttf) format("truetype");
}

//no font
@font-face {
    font-family: "NOPFont";
    src: local("NOPFont"), url(./assets/fonts/NBAHawks.ttf) format("truetype");
}

@font-face {
    font-family: "NYKFont";
    src: local("NYKFont"), url(./assets/fonts/NBAKnicks.ttf) format("truetype");
}

//no font
@font-face {
    font-family: "OKCFont";
    src: local("OKCFont"), url(./assets/fonts/NBAHawks.ttf) format("truetype");
}

@font-face {
    font-family: "ORLFont";
    src: local("ORLFont"), url(./assets/fonts/NBAMagic.ttf) format("truetype");
}

@font-face {
    font-family: "PHIFont";
    src: local("PHIFont"), url(./assets/fonts/NBA76ers.ttf) format("truetype");
}
@font-face {
    font-family: "PHXFont";
    src: local("PHXFont"), url(./assets/fonts/NBASuns.ttf) format("truetype");
}

@font-face {
    font-family: "PORFont";
    src: local("PORFont"), url(./assets/fonts/NBATrailblazers.ttf) format("truetype");
}

@font-face {
    font-family: "SACFont";
    src: local("SACFont"), url(./assets/fonts/NBAKings.ttf) format("truetype");
}

@font-face {
    font-family: "SASFont";
    src: local("SASFont"), url(./assets/fonts/NBASpurs.ttf) format("truetype");
}

@font-face {
    font-family: "TORFont";
    src: local("TORFont"), url(./assets/fonts/NBARaptors.ttf) format("truetype");
}

@font-face {
    font-family: "UTAFont";
    src: local("UTAFont"), url(./assets/fonts/NBAJazz.ttf) format("truetype");
}

@font-face {
    font-family: "WASFont";
    src: local("WASFont"), url(./assets/fonts/NBAWizards.ttf) format("truetype");
}
