@import "../../App.scss";

.element {
    @include background_image;
}

.element_body {
    padding: 1%;
}

.body_element,
.title_element,
.info_element {
    @include center_order;
}

.text_element {
    width: 70%;
}

.sub_element {
    @include center_order;
    white-space: nowrap;
}

.img_team {
    height: 20%;
    width: 20%;
}

//only in player
.select {
    background-color: mediumblue;
    color: white;
    min-width: 110px;
    max-width: 10%;
}
