.cardDeck {
    // height: 50vh;
    // width: 100%;
    padding: 2%;
}

// .card {
//     padding: 2%;
//     max-height: 90vh;
// }

.imageCard {
    max-height: 80%;
    max-width: 80%;
}

.bodyCard {

}
